<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>21/01/26 19:50:39</td>   <td>0</td> <td title="&gt;&gt;AutomationTest.launchBrouser()[pri:0, instance:AutomationTest@2a5ca609]">&gt;&gt;launchBrouser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/01/26 19:51:08</td>   <td>29166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationTest.loginToGmail()[pri:0, instance:AutomationTest@2a5ca609]">loginToGmail</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/01/26 19:51:36</td>   <td>57295</td> <td title="&lt;&lt;AutomationTest.quiteBrowser()[pri:0, instance:AutomationTest@2a5ca609]">&lt;&lt;quiteBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>21/01/26 19:51:36</td>   <td>57170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationTest.sendMailWithoutrecipeint()[pri:0, instance:AutomationTest@2a5ca609]">sendMailWithoutrecipeint</td> 
  <td>main@2107447833</td>   <td></td> </tr>
</table>
